@model Khuselo_BatteryCheck_r1.Models.KhuseloDb3

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mybtn2">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExpired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExpired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lifespan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lifespan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechCell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechCell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeCycles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeCycles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInstalled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInstalled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
